{% block image_upload_widget %}
    {% if form.vars.data %}
        <div class="uploaded-image-preview">
            {% if form.vars.multiple %}
                <div class="row">
                    {% for file in form.vars.data %}
                        {% if attribute(file, 'src') is defined %}
                        <div class="col">
                            <img src="{{ file.src }}" style="max-width: 100%">
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                {% if attribute(form.vars.data, 'src') is defined %}
                    <img src="{{ form.vars.data.src }}">
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    {{ form_widget(form) }}
{% endblock %}

{% block file_upload_widget %}
    {% if form.vars.data %}
        <div class="uploaded-file-preview">
            {% if form.vars.multiple %}
                <ul class="list-unstyled">
                    {% for file in form.vars.data %}
                        {% if attribute(file, 'src') is defined %}
                        <li>
                            <a href="{{ file.src }}" target="_blank">{{ file.fileName }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                {% if attribute(form.vars.data, 'src') is defined %}
                    <a href="{{ form.vars.data.src }}" target="_blank">
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
    {{ form_widget(form) }}
{% endblock %}
